
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,800&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root {
        --off-white: hsl(36, 100%, 99%);
        --grayish-blue: hsl(233, 8%, 79%);
        --dark-grayish-blue: hsl(236, 13%, 42%);
        --very-dark-blue: hsl(240, 100%, 5%);

        --soft-orange: hsl(35, 77%, 62%);
        --soft-red: hsl(5, 85%, 63%);
}

body {
  font-family: "Inter", system-ui;
}

a {
  text-decoration: none;
}

.navbar,
.navbar > .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .navbar,
.navbar > .container {
    display: block;
  }
}

.navbar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 1rem 1.15rem;
  border-bottom: 1px solid #eceef3;
  /*
  |-----------------------------------
  | Start navbar logo or brand etc..
  |-----------------------------------
  */
  /*
  |-----------------------------------
  | Start navbar menu
  |-----------------------------------
  */
}
@media (min-width: 576px) {
  .navbar .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .navbar .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1140px;
  }
}
.navbar .navbar-header {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.navbar .navbar-header .navbar-toggler {
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}
@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
  }
}
.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: #929aad;
  display: block;
}
.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}
.navbar .navbar-header > a {
  font-weight: 500;
  color: #3c4250;
}
.navbar .navbar-menu {
  display: flex;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
}
@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}
.navbar .navbar-menu.active {
  display: flex !important;
}
.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #EEE;
    margin-top: 1rem;
  }
}
.navbar .navbar-menu .navbar-nav > li > a {
  color: #3c4250;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
  color: #66f;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav > li > a {
    border-bottom: 1px solid #eceef3;
  }
}
.navbar .navbar-menu .navbar-nav > li.active a {
  color: #66f;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
  list-style: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-width: 160px;
  width: auto;
  white-space: nowrap;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  border-radius: 0.75rem;
  display: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    position: relative;
    box-shadow: none;
  }
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
  color: #3c4250;
  padding: 0.25rem 1rem;
  display: block;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
  display: block !important;
}
.navbar .navbar-menu .navbar-nav .dropdown > .separator {
  height: 1px;
  width: 100%;
  margin-top: 9px;
  margin-bottom: 9px;
  background-color: #eceef3;
}
.navbar .navbar-dropdown {
  position: relative;
}

.navbar .navbar-header > a span {
  color: #66f;
}

.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
}                                         
            
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/*   Body elements    */

body {
  display: grid;
  grid-template-columns: 67% 33%;
  grid-template-rows: 8vw 40vw 10vw;
  grid-gap: 1em;
}


nav.navbar {
    grid-column: 1 / span 2;
    grid-row: 1;
    grid-row-end: auto;
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 74em;
  padding: 1em 0;
}

main {
    background: #eaeaea;
    grid-column: 1 / span 1;
    grid-row: 2;
    display: flex;
    height: 500;
    width:1200px
}

aside {
  background-color: var(--very-dark-blue);
    display: grid;
    color: #eaeaea;
    padding: 1.55em;
    width: 375px;
}

.top-aside > h2 {
    margin-top: 10px;
    font-size: 44px;
    color: var(--soft-orange);
    cursor: pointer;
}


h3 {
  margin-top: 30px;
  cursor: pointer;
  font-size: 24px;
}


p {
color:   hsl(236, 13%, 42%);
font-size: 16px;
font-weight: bolder;
line-height: 1.8em;
margin:0;
}

.main-section  {
  display:grid;
  width: 730px;
  height: 500;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 40%;
  padding: 1em;
}

.minor-txt {
width: 325px;
height: 200px;
grid-column: 2 / span 2;
grid-row: 2;
line-height: 1.8em; 
color: hsl(236, 13%, 42%);
font-size: 16px;
}


.lead-text {
font-weight: 800;
width: 300px;
height: 225px;
grid-row: 2;

h1 {
  font-size: 55px;
  color:  hsl(240, 100%, 5%);
  font-family: "Inter", system-ui;
  font-weight: 900;
  letter-spacing: 1.2px;
}


}

img#main-pic {
  width: 760px;
  height: 400px;
  grid-column: 1 /2;
  grid-row: 1;
}

.read-btn.read-btn {
  margin-top: 15%;
  cursor: pointer;
  background-color: hsl(240, 100%, 5%);
  color:hsl(36, 100%, 99%);
  width: 100%;
  padding: .75rem;
 
  width: 200px;
  height: 60px;
  letter-spacing: 3px;
}

hr.solid {
  border-top: 1px solid #bbb;
}

/*
footer {
  grid-column: 1 / span 2;
  background: #eaeaea;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 8px
} */


.footer-clean {
   background-color:#fff;
  color:#4b4c4d;
  width: 1200px;
  border: 2px solid black;
  display: flex;
flex-direction: row;

}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean p {
  margin-top:-20px;
  margin-bottom:20px;
  font-weight:500;
  font-size:12px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}





@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}



